<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.ubicomp.mihealth" >

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logob"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme"

        >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="screenSize|orientation"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.NetChangedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MiService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".activities.UserRegistrationActivity"
            android:label="@string/title_activity_cadastro_usuario"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".activities.MedicinesActivity"
            android:label="@string/title_activity_lista_medic"
            android:configChanges="screenSize|orientation"
            >
        </activity>

        <activity
            android:name=".activities.ContactsReg"
            android:label="@string/title_activity_cadastro_usuario"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".activities.MedicinesReg"
            android:label="@string/title_activity_lista_medic"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".activities.ListContactsActivity"
            android:label="@string/title_activity_lista_medic"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".activities.MasterFooter"
            android:label="@string/title_activity_lista_medic"

            >
        </activity>
        <activity
            android:name=".activities.master_top"
            android:label="@string/title_activity_lista_medic"

            >
        </activity>





        <service
            android:name=".services.MiHeartMonitorService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.fitness.service.FitnessSensorService" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.heart_rate.bpm" />
            </intent-filter>
        </service>
    </application>

</manifest>
